.search {
  padding: 8px;
  border-radius: 5px;
}
.search-section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.input-section {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
}
