table {
  border-collapse: collapse;
  width: 40rem;
}
.table-row-heading {
  background-color: rgb(31, 31, 31);
  border-bottom: 1px solid black;
  color: whitesmoke;
}
.table-row {
  border-bottom: 1px solid rgb(39, 39, 39);
}
td {
  padding: 10px;
}

.table-heading {
  font-weight: 500;
}
.operations {
  display: flex;
  gap: 10px;
}
.operations button {
  border: none;
  height: 30px;
  border-radius: 5px;
}
.operations .bi {
  padding: 10px;
  font-weight: bold;
}
