.user-table {
  width: 50rem;
}
.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 40rem;
}
.section p {
  font-size: 1.1rem;
}
