.table {
  /* background-color: red; */
  width: 50rem;
}
.thead-dark {
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
}
.btn-operations {
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
}
.btn-operations button {
  margin: 0;
  width: 3rem;
  height: 2rem;
  border: none;
}
.btn-operations .bi {
  color: rgb(36, 36, 36);
  font-weight: 100;
  padding: 0 0 10px 0;
}
