@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&family=Inter:wght@400;700&family=Lobster&family=Mouse+Memoirs&family=Pacifico&family=Sacramento&display=swap");
nav {
  padding: 0 8rem 0 8rem;
  font-size: 1.2rem;
}
.nav-brand {
  font-family: "Lobster", cursive;
  font-family: "Pacifico", cursive;
  font-weight: 500;
}
